//Variable
$green-alt:darken(#90ee90,15%);
$blue-alt:darken(#add8e6,15%);
$red-alt:darken(#f08080,15%);

*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #f2f2f2;
    color: #555555;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}
h1{
    font-weight: 300;
    font-size: 2.4rem;
}
input, button, select{
    font-size: 1.3rem;
}

@import './components/titleBar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';

